{{ define "whitelistEntry" }}
<tr class="{{ if .IsAdmin }}admin{{ else }}{{ if .IsActive }}active{{ else }}inactive{{ end }}{{ end }}">
	<td>{{ .ID }}.</td>
	<td><span class="checkbox"></span></td>
	<td hx-get="/api/name/{{ .UUID }}" hx-trigger="load">...</td>
	<td>{{ .Name }}</td>
	<td>{{ .Nicknames }}</td>
	<td>{{ if .Reference }}{{ .Reference.ID }}. {{ .Reference.Name }}{{ end }}</td>
	<td>{{ .DiscordID }}</td>
</tr>
{{ end }}

{{ define "whitelistEntry.html" }}{{ template "whitelistEntry" . }}{{ end }}
