body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a.likeabutton {
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	text-decoration: none;
	font: menu;
	color: #666;
	background-color: #333;
	display: inline-block;
	padding: 8px 12px;
	transition: color 0.5s, background-color 0.5s;
}

a.likeabutton:hover {
	background-color: #aa8;
	color: #f98;
}

div.map {
	display: flex;
	flex-direction: row;
	width: 80vw;
	height: 80vh;
	border: 5px solid rgb(136, 0, 52);
	border-radius: 20px;
}

div.map iframe {
	flex-grow: 1;
	padding: 0px;
	margin: 0px;
	border: none;
	width: auto;
	height: auto;
	border-radius: 15px;
}
