{{ template "header" }}
<head>
	<title>Account</title>
</head>
<body>
	<h1>My Account</h1>
	<p>Welcome to your account page (:</p>
	<p>Your stuff is:</p>
	<table>
		<tr>	
			<th>Username</th>
			<td>{{ .Username }}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{ .Email }}</td>
		</tr>
		{{ if .WhitelistEntry }}
		<tr>
			<th>Name</th>
			<td>{{ .WhitelistEntry.Name }}</td>
		</tr>
		<tr>
			<th>Nicknames</th>
			<td id="nicknames-data">
				{{ template "nicknames" .WhitelistEntry.Nicknames }}
			</td>
		</tr>
		<tr>
			<th>UUID</th>
			<td>{{ .WhitelistEntry.UUID }}</td>
		</tr>
		<tr>
			<th>Minecraft Name</th>
			<td hx-get="/api/name/{{ .WhitelistEntry.UUID }}?force" hx-trigger="load">...</td>
		</tr>
		{{ else }}
		<tr>
			<th>Whitelist Entry</th>
			<td>-None-</td>
		</tr>
		{{ end }}
	</table>
	{{ if and .WhitelistEntry (IsAdmin .WhitelistEntry) }}
	<a class="likeabutton" href="/admin">Admin</a>
	{{ end }}

	{{ if .WhitelistEntry }}
	<div class="map">
		<iframe src="https://klara.kesuaheli.de"></iframe>
	</div>
	<table>
		<tr>
			<th colspan="2">From</th>
			<th colspan="2">To</th>
			<th>Color</th>
			<th>Users</th>
		</tr>
		{{ range .WhitelistEntry.Markers }}{{ template "marker" . }}{{ end }}
	</table>
	{{ end }}
	
	<script src="/assets/account.js"></script>
</body>
{{ template "footer" }}
